<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>Success</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Success</h1>
    </div>
    <div class="container">
      <h2>You Did Good</h2><br>
      <h5><a href="/">HomePage</a></h5><br>
      <h5><a href="/bands">View All Bands</a></h5><br>
      <h5><a href="/venues">View All Venues</a></h5><br>

    </div>
  </body>
</html>
